@page
@model Student_Mgmt_System_ASP_Core.Pages.Student_Enrollment.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student_enrollment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student_enrollment.student_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student_enrollment.student_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student_enrollment.course_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student_enrollment.course_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student_enrollment.tutor_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student_enrollment.tutor_ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student_enrollment.Student_Enrollment_ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
